<component name="ArtifactManager">
  <artifact type="war" name="springRESTfromMavenArchetype:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springRESTfromMavenArchetype.war">
      <element id="artifact" artifact-name="springRESTfromMavenArchetype:war exploded" />
    </root>
  </artifact>
</component>